
<!-- <app-header-breadcrumb [title]="'Editar impresoras'" [items]="['Pages']" [active_item]="'Editar impresoras'"></app-header-breadcrumb> -->

<div class="row"> 
<div class="col-12"> 
 <div class="card"> 
<div class="card-header">
    <h3>{{_title}}</h3>
    <div class="card-options">       
        <button id="btnAdd" type="button" class="btn btn-md btn-primary" data-bs-toggle="modal"
        data-target=".bd-example-modal-lg" ><i class="fa fa-plus" ></i> {{_btnTitle}}</button>
    </div>
</div> 
</div>
</div>
 </div> 

